[safe]
	directory = C:/Users/admin/Documents/作品集/portfolio-temp
	directory = C:/Users/admin/Documents/作品集/portfolio
[user]
	name = lintian
	email = 1017309544@qq.com
[core]
	sshCommand = ssh -o StrictHostKeyChecking=no
